@model Trip
@{
    ViewBag.Title = "Add Trip - Page 2";
}
<h2>@ViewBag.Title</h2>
<form method="post" asp-action="Page2">
    <div asp-validation-summary="All"
         class="text-danger">
    </div>
    <div class="form-group">
        <label id="phoneInput" asp-for="AccommodationPhone">Phone Number</label>
        <input asp-for="AccommodationPhone" class="form-control">
    </div><div class="form-group">
        <label asp-for="AccommodationEmail">Email Address</label>
        <input asp-for="AccommodationEmail" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Next</button>
    <a asp-controller="Trip" asp-action="Index" class="btn btn-danger">Cancel</a>
</form>
<!--loads js from wwwroot-->
<script src="~/js/site.js"></script>